.bg-slides {
    
    position: relative;
    width: 100%;
  
  @include breakpoint(baby-bear) {
    position: absolute;
    height: 100%;
  }
  
  
  .slide {
    position: absolute;
    width: 100%;
      position: relative;
    @include breakpoint(baby-bear) {
      position: absolute;
      height: 100%;
    }
    // .img-container {
    //   position: relative;
    //   padding-bottom: 75%;
    // }
    img {
      top: 0;
      left: 0;
      width: 100%;
      min-width: 0;
        position: relative;
      
      @include breakpoint(baby-bear) {
        position: absolute;
      }
      
      &.match-height {
        @include breakpoint(baby-bear) {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}
