.bg-slides {
    
    position: relative;
    width: 100%;
  
  @include breakpoint(baby-bear) {
    position: absolute;
    height: 100%;
  }
  
  
  .slide {
    width: 100%;
    opacity: 0;
    transition: opacity ease 500ms;

      position: relative;
      padding-bottom: 62.5%;
    @include breakpoint(baby-bear) {
      position: absolute;
      padding-bottom: 0;
      height: 100%;
    }

    img {
      top: 0;
      left: 0;
      width: 100%;
      min-width: 0;
      position: absolute;
      
      &.match-height {
        @include breakpoint(baby-bear) {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}
