$brand-red: #cc0000;
$body-background: #aaaaaa;

body {
  color: #fff;
}

.fixed-page-wrap {
  background-color: #000;
}

.content {

  background-color: rgba(255,255,255,1);
  color: #000;
  
  @include breakpoint(baby-bear) {
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.7);
  }
}

footer {
  background-color: rgba(0,0,0,0.85);
  border-width: 2px 0px 0px 0;
  border-color: rgba(255,255,255,0.9);
  border-style: solid;
  // box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
}