$brand-red: #cc0000;
$body-background: #aaaaaa;
$white-border-rgba: rgba(255,255,255,0.97);
$black-border-rgba: rgba(15,15,15,0.85);

body {
  color: #fff;
}

.fixed-page-wrap {
  background-color: #fff;
}

.content {

  background-color: rgba(255,255,255,1);
  color: #000;
  
  @include breakpoint(baby-bear) {
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.65);
  }
}

footer {
  background-color: rgba(15,15,15,0.85);
  border-width: 0px 0px 0px 0;
  border-color: $white-border-rgba;
  border-style: solid;
  @include breakpoint(baby-bear) {
    border-width: 2px 0px 0px 0;
  }
  // box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
}