/* Structure */

// Breakpoints.
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1920px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 1600px) { @content; }
  }
  @else if $point == baby-bear {
    @media (min-width: 800px)  { @content; }
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.fixed-page-wrap {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: orange;
  right: 0;
  top: 0;
  .page {
    z-index: 5;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 2em;
    padding-bottom: 8em;

    .content {
      width: 100%;
      @include breakpoint(baby-bear) {
        width: 50%;
      }
      float: right;
      position: relative;
      z-index: 5;
      padding: 1em;
    }
  }
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 50px;
  padding: 1em;
}
